.header
    .header__logo
        .logo__name MUG
        .logo__desk Learning, develop
    .header__nav
        ul.nav
            li.nav__list
                a(href="#").nav__link Home
            li.nav__list
                a(href="#").nav__link Professions
            li.nav__list
                a(href="#").nav__link Learning
            li.nav__list
                a(href="#").nav__link Jobs
            li.nav__list
                a(href="#").nav__link Leaderboard

    .header__login
        button.btn.btn--bg Sign in
        button.btn.btn--bg Get started