doctype !

html(lang="ru")
    head
        title MUG
        meta( charset="UTF-8")
        meta( name="viewport" content="width=device-width, initial-scale=1.0")
        link( rel="stylesheet" href="css/MainCss.css")
    body
        .allContent__wrapper
            .allContent
                include ./header.pug
                block content

        footer
            include ./footer.pug

        script(rel="script" src="script/jquery-1.11.1.min.js")
        script(rel="script" src="script/jquerySelectorData.js")
        script(rel="script" src="script/mainJS.js")


