* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: roboto, sans-serif; }

a {
  text-decoration: none; }

ul, ol, li {
  list-style-type: none;
  padding: 0; }

.header {
  max-width: 1100px;
  margin: 0 auto;
  padding: 5px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center; }
  .header__logo {
    display: inline-block;
    vertical-align: middle; }
  .header__nav {
    display: inline-block;
    vertical-align: middle;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: right; }
  .header__login {
    display: inline-block;
    vertical-align: middle; }
    .header__login button {
      margin: 0 10px; }

.logo {
  display: inline-block; }
  .logo__name {
    color: #eb5555;
    font-weight: bold;
    font-size: 22px;
    text-align: center; }
  .logo__desk {
    text-align: center; }

.btn {
  padding: 5px 10px;
  color: #eb5555;
  background-color: #fff;
  border: 2px solid #eb5555;
  border-radius: 5px; }
  .btn--bg {
    color: #fff;
    background-color: #eb5555; }

.nav {
  padding: 0 15px; }
  .nav__list {
    display: inline-block;
    padding: 0 10px; }
  .nav__link {
    color: #000; }

.navigation-content {
  max-width: 1100px;
  margin: 0 auto;
  padding: 10px; }

.setting-pro {
  display: -ms-flexbox;
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .setting-pro__path {
    min-height: 300px;
    background-color: #eb5555;
    width: 49%;
    padding: 10px;
    text-align: center;
    font-size: 0; }
  .setting-pro__name {
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 20px; }
  .setting-pro__icon {
    margin: 20px auto;
    text-align: center;
    max-width: 250;
    display: inline-block;
    height: 250px;
    width: 50%;
    background-color: #FFF;
    border-radius: 50%; }
    .setting-pro__icon:before {
      content: "";
      height: 100%;
      display: inline-block;
      vertical-align: middle; }
    .setting-pro__icon img {
      display: inline-block;
      vertical-align: middle;
      max-width: 150px; }
  .setting-pro__info {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    font-size: 14px;
    color: #fff;
    padding: 10px; }

.select-way {
  display: -ms-flexbox;
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .select-way__path {
    min-height: 600px;
    background-color: #eb5555;
    width: 32%;
    padding: 10px;
    text-align: center; }
  .select-way__name {
    color: #fff;
    font-weight: bold;
    font-size: 22px; }
  .select-way__icon {
    margin: 20px auto;
    text-align: center;
    height: 280px;
    width: 280px;
    background-color: #FFF;
    border-radius: 50%; }
    .select-way__icon:before {
      content: "";
      height: 100%;
      display: inline-block;
      vertical-align: middle; }
    .select-way__icon img {
      display: inline-block;
      vertical-align: middle;
      max-width: 150px; }
  .select-way__desk {
    margin: 10px 0;
    text-align: justify;
    color: #ffff; }

.skill {
  border: 2px solid;
  border-radius: 5px;
  display: inline-block;
  padding: 10px 20px;
  border-color: #879cca;
  cursor: pointer;
  position: relative; }
  .skill__name {
    font-weight: bold;
    letter-spacing: 2px; }
  .skill__about {
    display: none;
    top: calc(100% + 3px);
    left: 0;
    padding: 10px 0;
    position: absolute;
    z-index: 22; }
  .skill:hover .skill__about {
    display: block;
    position: absolute; }

.about__list {
  margin: 0;
  font-size: 13px;
  line-height: 1.6;
  min-width: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px; }
  .about__list:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid rgba(8, 8, 8, 0.5);
    line-height: 0;
    position: absolute;
    left: 15px;
    top: 0; }
  .about__list .name {
    min-width: 170px; }

.parent {
  display: none; }

.space {
  max-width: 1100px;
  margin: 0 auto; }
  .space .skill {
    margin: 10px; }

.next {
  display: none; }

.user__info {
  display: inline-block;
  width: 140px;
  text-align: center;
  background-color: #9abac6;
  vertical-align: top; }

.user__name {
  padding: 5px 0; }

.user__img {
  position: relative;
  margin: 0 auto;
  background-image: url(../images/rpg_pixel.gif);
  background-repeat: no-repeat;
  background-size: auto 230px;
  width: 110px;
  height: 178px;
  background-position-y: -34px;
  background-position-x: -135px; }
  .user__img.class0 {
    background-position-x: -20px;
    width: 136px; }
  .user__img.class1 {
    background-position-x: -243px;
    width: 90px; }
  .user__img.class2 {
    background-position-x: -332px;
    width: 99px; }
  .user__img.class3 {
    background-position-x: -428px;
    width: 79px; }

.user__race {
  display: inline-block; }
  .user__race .race {
    display: block;
    padding: 15px 0;
    color: #3dde0b; }