* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: roboto, sans-serif;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style-type: none;
  padding: 0;
}

//header
.header {
  max-width: 1100px;
  margin: 0 auto;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    display: inline-block;
    vertical-align: middle;
  }

  &__nav {
    display: inline-block;
    vertical-align: middle;
    flex-grow: 1;
    text-align: right;
  }

  &__login {
    display: inline-block;
    vertical-align: middle;

    button {
      margin: 0 10px;
    }
  }
}

//logo

.logo {
  display: inline-block;

  &__name {
    color: #eb5555;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
  }

  &__desk {
    text-align: center;
  }
}

//btn

.btn {
  padding: 5px 10px;
  color: #eb5555;
  background-color: #fff;
  border: 2px solid #eb5555;
  border-radius: 5px;

  &--bg {
    color: #fff;
    background-color: #eb5555;
  }
}

//nav

.nav {
  padding: 0 15px;
  &__list {
    display: inline-block;
    padding: 0 10px;
  }

  &__link {
    color: #000;
  }

}

//index

//navigation-content
.navigation-content {
  max-width: 1100px;
  margin: 0 auto;
  padding: 10px;
}

//setting-pro
.setting-pro {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  justify-content: space-between;

  &__path {
    min-height: 300px;
    background-color: #eb5555;
    width: 49%;
    padding: 10px;
    text-align: center;
    font-size: 0;
  }
  &__name {
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 20px;
  }

  &__icon {
    margin: 20px auto;
    text-align: center;
    max-width: 250;
    display: inline-block;
    height: 250px;
    width: 50%;
    background-color: #FFF;
    border-radius: 50%;
    &:before {
      content: "";
      height: 100%;
      display: inline-block;
      vertical-align: middle;
    }

    img {
      display: inline-block;
      vertical-align: middle;
      max-width: 150px;
    }
  }

  &__info{
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    font-size: 14px;
    color: #fff;
    padding: 10px;
  }

}

//select-way
.select-way {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  justify-content: space-between;

  &__path {
    min-height: 600px;
    background-color: #eb5555;
    width: 32%;
    padding: 10px;
    text-align: center;
  }

  &__name {
    color: #fff;
    font-weight: bold;
    font-size: 22px;
  }

  &__icon {
    margin: 20px auto;
    text-align: center;
    height: 280px;
    width: 280px;
    background-color: #FFF;
    border-radius: 50%;
    &:before {
      content: "";
      height: 100%;
      display: inline-block;
      vertical-align: middle;
    }

    img {
      display: inline-block;
      vertical-align: middle;
      max-width: 150px;
    }
  }

  &__desk {
    margin: 10px 0;
    text-align: justify;
    color: #ffff;
  }
}

//tree

.skill {
  border: 2px solid;
  border-radius: 5px;
  display: inline-block;
  padding: 10px 20px;
  border-color: #879cca;
  cursor: pointer;
  position: relative;

  &__name {
    font-weight: bold;
    letter-spacing: 2px;
  }

  &__about {
    display: none;
    top: calc(100% + 3px);
    left: 0;
    padding: 10px 0;
    position: absolute;
    z-index: 22;
  }

  &:hover {
    .skill__about {
      display: block;
      position: absolute;
    }
  }

  &.select {
    //  border-color: #f00;
  }
}

.about {

  &__list {
    margin: 0;
    font-size: 13px;
    line-height: 1.6;
    min-width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;

    &:before {
      content: "";
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 10px solid rgba(8, 8, 8, 0.5);
      line-height: 0;
      position: absolute;
      left: 15px;
      top: 0;
    }

    .name {
      min-width: 170px;
    }
  }
}

.parent {
  display: none;
}

.space {
  max-width: 1100px;
  margin: 0 auto;
  .skill {
    margin: 10px;
  }
}

.next {
  display: none;
}

.user {

  &__info {
    display: inline-block;
    width: 140px;
    text-align: center;
    background-color: #9abac6;
    vertical-align: top;
  }

  &__name {
    padding: 5px 0;
  }

  &__img {
    position: relative;
    margin: 0 auto;
    background-image: url(../images/rpg_pixel.gif);
    background-repeat: no-repeat;
    background-size: auto 230px;
    width: 110px;
    height: 178px;
    background-position-y: -34px;
    background-position-x: -135px;

    &.class0 {
      background-position-x: -20px;
      width: 136px;
    }

    &.class1 {
      background-position-x: -243px;
      width: 90px;
    }
    &.class2 {
      background-position-x: -332px;
      width: 99px;
    }

    &.class3 {
      background-position-x: -428px;
      width: 79px;
    }
  }

  &__race {
    display: inline-block;

    .race {
      display: block;
      padding: 15px 0;
      color: #3dde0b;
    }
  }
}




























