extends ./blocks/MainLayout.pug
block content
    .select-way
        a(href="pro.html").select-way__path
            .select-way__icon
                img(src='./images/brain.png')
            .select-way__name Test
            .select-way__desk
                | In software engineering, the terms front end and back end refer to the
                | separation of concerns between the presentation layer (front end), and the
        a(href="#").select-way__path
            .select-way__icon
                img(src='./images/notepad.png')
            .select-way__name Template Pro
            .select-way__desk
                | In software engineering, the terms front end and back end refer to the
                | data access layer (back end) of a piece of software, or the physical infrastructure or hardware.
        a(href="tree.html").select-way__path
            .select-way__icon
                img(src='./images/target.png')
            .select-way__name Manual
            .select-way__desk
                | In software engineering, the terms front end and back end refer to the
                |separation of concerns between the presentation layer (front end), and the
                |data access layer (back end) of a piece of software, or the physical infrastructure or hardware.