extends ./blocks/MainLayout.pug
block content
    .space
        h1 По результатам теста (опроса) выявлены желаемые направления
        h2 у нас есть список готовых предлоржений или вы можете собрать собственный курс сделав более точную настроку

    .setting-pro
        a(href="#").setting-pro__path
             .setting-pro__icon
                img(src='./images/brain.png')
             .setting-pro__info
                 .setting-pro__name Template Pro
                 .setting-pro__desk
                    | In software engineering, the terms front end and back end refer to the
                    | separation of concerns between the presentation layer (front end), and the
        a(href="pro.html").setting-pro__path
             .setting-pro__icon
                img(src='./images/notepad.png')
             .setting-pro__info
                 .setting-pro__name Fine tuning
                 .setting-pro__desk
                    | In software engineering, the terms front end and back end refer to the
                    | data access layer (back end) of a piece of software, or the physical infrastructure or hardware.
