extends ./blocks/MainLayout.pug
block content
    .skill.parent(data-key='')
        .skill__name HTML
        .skill__about
            ul.about__list
                li.about__link.course
                    span.name Количество курсов:
                    span.num   5
                li.about__link.book
                    span.name Количество книг:
                    span.num   25
                li.about__link.want
                    span.name Востребованность:
                    span.num   80%
                li.about__link.tests
                    span.name Количество заданий:
                    span.num   3

    .user(style="display:none;")
        .user__info
            .user__img
            .user__name VASJA PUPKIN
        .user__race
            span.hello Поздравляю мой друг! Ты прирожденный!
            span.race Халявщик.

    .space

    .navigation-content
        // button.btn.next Далее
        a(href="pro.html").btn.next Next step

